<div class="main class = bg-white min-h-screen">
  <div class="home-container px-10 flex flex-col gap-x-8">
    <h1 class="text-7xl font-bold flex justify-center items-center">
      Welcome back,
      <span class="text-customHsl-accent">
        {{ userService.getUser().name }}
      </span>
    </h1>
  </div>

  <div class="w-full">
    <h1 class="mini-title w-full flex justify-center items-center">
      Welcome to the Expense Tracker
    </h1>
    <p class="text-center max-w-xl mx-auto mb-6">
      Track your expenses, manage accounts, and categorize your spending with
      ease.
    </p>

    <div class="navigation flex flex-wrap justify-center">
      <a routerLink="/add-expense" class="btn">Add Expense</a>
      <a routerLink="/expense-list" class="btn">View Expenses</a>
      <a routerLink="/category-list" class="btn">View Categories</a>
      <a routerLink="/category-upsert" class="btn">Add Category</a>
      <a routerLink="/account-list" class="btn">View Accounts</a>
      <a routerLink="/account-upsert" class="btn">Add Account</a>
    </div>
  </div>
</div>
