<div class="h-screen w-64 bg-white text-black flex flex-col p-4">
  <nav class="flex flex-col space-y-4">
    <a
      routerLink="/category-list"
      routerLinkActive="text-blue-400"
      class="hover:text-blue-300"
      >Categories</a
    >
    <a
      routerLink="/accounts-items"
      routerLinkActive="text-blue-400"
      class="hover:text-blue-300"
      >Accounts</a
    >
    <a
      routerLink="/records"
      routerLinkActive="text-blue-400"
      class="hover:text-blue-300"
      >Records</a
    >

    <!-- <a
      routerLink="/add-expense"
      routerLinkActive="text-blue-400"
      class="hover:text-blue-300"
      >Add Expense</a
    > -->

    <a
      routerLink="/profile"
      routerLinkActive="text-blue-400"
      class="hover:text-blue-300"
      >Profile</a
    >
  </nav>
</div>
